mixin plusIcon(className)
  svg(class= className width='50' height='50' viewbox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg')
    circle(cx='25.0002' cy='25' r='25' fill='white')
    circle(cx='25.0002' cy='25' r='20' fill='url(#paint0_linear)')
    path(d='M26.4446 32.626H23.5559V26.5H17.4299V23.4453H23.5559V17.3193H26.4446V23.4453H32.554V26.5H26.4446V32.626Z' fill='white')
    defs
      lineargradient#paint0_linear(x1='25.0002' y1='5' x2='25.0002' y2='45' gradientunits='userSpaceOnUse')
        stop(stop-color='#FAD553')
        stop(offset='1' stop-color='#FFC700')

mixin draftsImages(imgArr, markArr)
  .drafts__inner
    .drafts__container.drafts__container--sm
      .drafts__item.drafts__item--lg
        img.drafts__item-img.lozad(data-src=`images/drafts/${imgArr[0]}`, width="780", height="510", alt="")
        .drafts__item-content
          ul.drafts__item-list
            li= markArr[0]
            li= markArr[1]
          +modalButton(null, 'Рассчитать стоимость')
      .drafts__item.drafts__item--lg
        img.drafts__item-img.lozad(data-src=`images/drafts/${imgArr[1]}`, width="780", height="510", alt="")
        .drafts__item-content
          ul.drafts__item-list
            li= markArr[0]
            li= markArr[1]
          +modalButton(null, 'Рассчитать стоимость')
    .drafts__container.drafts__container--lg
      .drafts__container-inner
        .drafts__item.drafts__item--xl
          img.drafts__item-img.lozad(data-src=`images/drafts/${imgArr[2]}`, width="680", height="600" alt="")
          .drafts__item-content
            ul.drafts__item-list
              li= markArr[0]
              li= markArr[1]
            +modalButton(null, 'Рассчитать стоимость')
        .drafts__item.drafts__item--md
          img.drafts__item-img.lozad(data-src=`images/drafts/${imgArr[3]}`, width="460", height="600",  alt="")
          .drafts__item-content
            ul.drafts__item-list
              li= markArr[0]
              li= markArr[1]
            +modalButton(null, 'Рассчитать стоимость')
      .drafts__container-inner
        .drafts__item.drafts__item--sm
          img.drafts__item-img.lozad(data-src=`images/drafts/${imgArr[4]}`, width="380", height="420", alt="")
          .drafts__item-content
            ul.drafts__item-list
              li= markArr[0]
              li= markArr[1]
            +modalButton(null, 'Рассчитать стоимость')
        .drafts__item.drafts__item--sm
          img.drafts__item-img.lozad(data-src=`images/drafts/${imgArr[5]}`, width="380", height="420", alt="")
          .drafts__item-content
            ul.drafts__item-list
              li= markArr[0]
              li= markArr[1]
            +modalButton(null, 'Рассчитать стоимость')
        .drafts__item.drafts__item--sm
          img.drafts__item-img.lozad(data-src=`images/drafts/${imgArr[6]}`, width="380", height="420", alt="")
          .drafts__item-content
            ul.drafts__item-list
              li= markArr[0]
              li= markArr[1]
            +modalButton(null, 'Рассчитать стоимость')

mixin catalogSliderItem
  .catalog__item.swiper-slide
    img.catalog__item-img.swiper-lazy(data-src="images/catalog/catalog-2.png", width="270", height="330" alt="")
    .catalog__item-content
      .catalog__item-content-wrapper
        .catalog__item-title Райский сад
        ul.list-disc
          li: span Живые гортензии
          li: span Стабилизиорванные лиственницы
        p.catalog__item-txt Растения родом из настоящих джунглей Подмосковья. Быстро растут и разрастаются за погода до 40 кв.м.  Прятно трогать листики.
      +modalButton(null, 'Рассчитать стоимость')

mixin reviewsVideo(img)
  li.reviews__video
    .reviews__video-content.lozad(data-background-image=`images/reviews/video/${img}`)
      button.reviews__video-button
        +icon('reviews__video-button-icon', 'play-circle')
        |Смотреть видео-отзыв
    .reviews__video-info
      .reviews__video-info-top
        p.reviews__video-info-name Иван Иванов
        ul.reviews__video-info-social
          li
            a(href="#" target="_blank" rel="noopener" aria-label="facebook")
              img.lozad(data-src="images/icons/facebook-sm.png", width="40", height="40", alt="")
          li
            a(href="#" target="_blank" rel="noopener" aria-label="vkontakte")
              img.lozad(data-src="images/icons/vk-sm.png", width="40", height="40", alt="")
          li
            a(href="#" target="_blank" rel="noopener" aria-label="instagram")
              img.lozad(data-src="images/icons/insta-sm.png", width="40", height="40", alt="")
      p.reviews__video-info-bot Руководитель ресторана Vеранда

mixin reviewsImage(img, dataNum)
  li.reviews__images-item
    img.lozad(data-src=`images/reviews/${img}`, data-fancybox=`gallery${dataNum}`, width="270", height="360", alt="")
    .reviews__images-item-content
      +icon('reviews__images-item-icon', 'zoom')
