mixin plusIcon(className)
  svg(class= className width='50' height='50' viewbox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg')
    circle(cx='25.0002' cy='25' r='25' fill='white')
    circle(cx='25.0002' cy='25' r='20' fill='url(#paint0_linear)')
    path(d='M26.4446 32.626H23.5559V26.5H17.4299V23.4453H23.5559V17.3193H26.4446V23.4453H32.554V26.5H26.4446V32.626Z' fill='white')
    defs
      lineargradient#paint0_linear(x1='25.0002' y1='5' x2='25.0002' y2='45' gradientunits='userSpaceOnUse')
        stop(stop-color='#FAD553')
        stop(offset='1' stop-color='#FFC700')

mixin draftsImages(imgArr, markArr)
  .drafts__inner
    .drafts__container.drafts__container--sm
      .drafts__item.drafts__item--lg
        img.drafts__item-img.lozad(data-src=`images/drafts/${imgArr[0]}`, width="780", height="510", alt="")
        .drafts__item-content
          ul.drafts__item-list
            li= markArr[0]
            li= markArr[1]
          +modalButton('modal-cost-commercial', 'Рассчитать стоимость')
      .drafts__item.drafts__item--lg
        img.drafts__item-img.lozad(data-src=`images/drafts/${imgArr[1]}`, width="780", height="510", alt="")
        .drafts__item-content
          ul.drafts__item-list
            li= markArr[0]
            li= markArr[1]
          +modalButton('modal-cost-commercial', 'Рассчитать стоимость')
    .drafts__container.drafts__container--lg
      .drafts__container-inner
        .drafts__item.drafts__item--xl
          img.drafts__item-img.lozad(data-src=`images/drafts/${imgArr[2]}`, width="680", height="600" alt="")
          .drafts__item-content
            ul.drafts__item-list
              li= markArr[0]
              li= markArr[1]
            +modalButton('modal-cost-commercial', 'Рассчитать стоимость')
        .drafts__item.drafts__item--md
          img.drafts__item-img.lozad(data-src=`images/drafts/${imgArr[3]}`, width="460", height="600",  alt="")
          .drafts__item-content
            ul.drafts__item-list
              li= markArr[0]
              li= markArr[1]
            +modalButton('modal-cost-commercial', 'Рассчитать стоимость')
      .drafts__container-inner
        .drafts__item.drafts__item--sm
          img.drafts__item-img.lozad(data-src=`images/drafts/${imgArr[4]}`, width="380", height="420", alt="")
          .drafts__item-content
            ul.drafts__item-list
              li= markArr[0]
              li= markArr[1]
            +modalButton('modal-cost-commercial', 'Рассчитать стоимость')
        .drafts__item.drafts__item--sm
          img.drafts__item-img.lozad(data-src=`images/drafts/${imgArr[5]}`, width="380", height="420", alt="")
          .drafts__item-content
            ul.drafts__item-list
              li= markArr[0]
              li= markArr[1]
            +modalButton('modal-cost-commercial', 'Рассчитать стоимость')
        .drafts__item.drafts__item--sm
          img.drafts__item-img.lozad(data-src=`images/drafts/${imgArr[6]}`, width="380", height="420", alt="")
          .drafts__item-content
            ul.drafts__item-list
              li= markArr[0]
              li= markArr[1]
            +modalButton('modal-cost-commercial', 'Рассчитать стоимость')

mixin reviewsVideo(img)
  .reviews__video
    .reviews__video-content.lozad(data-background-image=`images/reviews/video/${img}`)
      button.reviews__video-button(data-src="https://www.youtube.com/embed/C0DPdy98e4c" data-modal-target="modal-video")
        +icon('reviews__video-button-icon', 'play-circle')
        |Смотреть видео-отзыв
    .reviews__video-info
      .reviews__video-info-top
        p.reviews__video-info-name Иван Иванов
        ul.reviews__video-info-social
          li
            a(href="#" target="_blank" rel="noopener" aria-label="facebook")
              img.lozad(data-src="images/icons/facebook-sm.png", width="40", height="40", alt="")
          li
            a(href="#" target="_blank" rel="noopener" aria-label="vkontakte")
              img.lozad(data-src="images/icons/vk-sm.png", width="40", height="40", alt="")
          li
            a(href="#" target="_blank" rel="noopener" aria-label="instagram")
              img.lozad(data-src="images/icons/insta-sm.png", width="40", height="40", alt="")
      p.reviews__video-info-bot Руководитель ресторана Vеранда

mixin reviewsImage(img, dataNum)
  .reviews__images-item
    img.lozad(data-src=`images/reviews/${img}`, data-fancybox=`gallery${dataNum}`, width="270", height="360", alt="")
    .reviews__images-item-content
      +icon('reviews__images-item-icon', 'zoom')

mixin sectionQuiz(quizId)
  section.quiz
    .container
      .quiz__inner
        .quiz__titles
          h2.quiz__title
            span Рассчитайте стоимость&nbsp;
            |и сроки озеленения
          h3.quiz__subtitle и получите индивидуальную подборку дизайнов  для вашего объекта под ваши пожелания
        .quiz__container
          .quiz__block
            .quiz__counter(id= `quiz-counter-${quizId}`)
              |Вопрос&nbsp;
              span(id=`swiper-quiz-current-${quizId}`) 1
              |&nbsp;из&nbsp;
              span(id=`swiper-quiz-total-${quizId}`) 5
            progress(id=`quiz-progress-${quizId}` max="5" value="1")
            form.form.quiz__content(name="Подборка дизайнов" id=`form-quiz-${quizId}` action="#")
              .swiper-container(id=`swiper-quiz-${quizId}`)
                .swiper-wrapper
                  .quiz__item.swiper-slide(id=`quiz-question-place-${quizId}`)
                    h3.quiz__slide-title Какие помещения нужно озеленить?
                    ul.quiz__images
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="office" name="quiz-space" type="radio" checked)
                          .quiz__img-wrapper
                            img.swiper-lazy(data-src="images/quiz/quiz-1.png", width="160", height="120", alt="")
                          span.quiz__item-txt Офисные помещения
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="caffe" name="quiz-space" type="radio")
                          .quiz__img-wrapper
                            img.swiper-lazy(data-src="images/quiz/quiz-2.png", width="160", height="120", alt="")
                          span.quiz__item-txt Кафе, ресторан, бар
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="business" name="quiz-space" type="radio")
                          .quiz__img-wrapper
                            img.swiper-lazy(data-src="images/quiz/quiz-3.png", width="160", height="120", alt="")
                          span.quiz__item-txt ТРЦ, бизнес-центр
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="private" name="quiz-space" type="radio")
                          .quiz__img-wrapper
                            img.swiper-lazy(data-src="images/quiz/quiz-4.png", width="160", height="120", alt="")
                          span.quiz__item-txt Частный дом, участок
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="hotel" name="quiz-space" type="radio")
                          .quiz__img-wrapper
                            img.swiper-lazy(data-src="images/quiz/quiz-5.png", width="160", height="120", alt="")
                          span.quiz__item-txt Гостиница
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="other" name="quiz-space" type="radio")
                          .quiz__img-wrapper
                            img.swiper-lazy(data-src="images/quiz/quiz-6.png", width="160", height="120", alt="")
                          span.quiz__item-txt Другое
                  .quiz__item.swiper-slide(id=`quiz-question-square-${quizId}`)
                    h3.quiz__slide-title Укажите суммарную площадь помещений
                    ul.quiz__inputs
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="50" name="quiz-square" type="radio" checked)
                          span.form__checkbox-styled
                          span.form__checkbox-txt до 50 м2
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="50-100" name="quiz-square" type="radio")
                          span.form__checkbox-styled
                          span.form__checkbox-txt 50-100 м2
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="100-200" name="quiz-square" type="radio")
                          span.form__checkbox-styled
                          span.form__checkbox-txt 100-200 м2
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="200-500" name="quiz-square" type="radio")
                          span.form__checkbox-styled
                          span.form__checkbox-txt 200-500 м2
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="500" name="quiz-square" type="radio")
                          span.form__checkbox-styled
                          span.form__checkbox-txt свыше 500 м2
                  .quiz__item.swiper-slide(id=`quiz-question-design-${quizId}`)
                    h3.quiz__slide-title Есть ли у вас дизайн-проект?
                    ul.quiz__inputs
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(id= `quiz-design-yes-${quizId}` value="design-yes" name="quiz-design" type="radio" checked)
                          span.form__checkbox-styled
                          span.form__checkbox-txt Да
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(id= `quiz-design-no-${quizId}` value="design-no" name="quiz-design" type="radio")
                          span.form__checkbox-styled
                          span.form__checkbox-txt Нет
                      li.form__upload(id= `quiz-upload-block-${quizId}`)
                        span.form__error(id= `quiz-upload-error-${quizId}`)
                        label.form__upload-button
                          +icon('form__upload-button-icon', 'upload')
                          input(id= `quiz-upload-${quizId}` accept=".doc, .docx, .odt, .pdf, .tex, .txt, .rtf, .wps, .wks, .wpd)" type="file" name="дизайн-проект" multiple hidden)
                          span.form__upload-button-txt Отправить проект
                        .form__upload-files(id= `quiz-files-chosen-${quizId}`)
                  .quiz__item.swiper-slide(id=`quiz-question-plants-${quizId}`)
                    h3.quiz__slide-title Какие растения вы предпочитаете?
                    ul.quiz__images.quiz__images--small
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="live" name="quiz-plants" type="checkbox" checked)
                          .quiz__img-wrapper
                            img.swiper-lazy(data-src="images/quiz/quiz-7.png", width="160", height="120", alt="")
                          span.quiz__item-txt Живые
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="synthetic" name="quiz-plants" type="checkbox")
                          .quiz__img-wrapper
                            img.swiper-lazy(data-src="images/quiz/quiz-8.png", width="160", height="120", alt="")
                          span.quiz__item-txt Икусственные
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="stabilized" name="quiz-plants" type="checkbox")
                          .quiz__img-wrapper
                            img.swiper-lazy(data-src="images/quiz/quiz-9.png", width="160", height="120", alt="")
                          span.quiz__item-txt Стабилизированные
                  .quiz__item.swiper-slide(id=`quiz-question-extra-${quizId}`)
                    h3.quiz__slide-title Укажите дополнительные предпочтения в озеленении
                    ul.quiz__images
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="panel" name="quiz-extra" type="checkbox" checked)
                          .quiz__img-wrapper
                            img.swiper-lazy(data-src="images/quiz/quiz-10.png", width="160", height="120", alt="")
                          span.quiz__item-txt Панно из мха
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="vertical-green" name="quiz-extra" type="checkbox")
                          .quiz__img-wrapper
                            img.swiper-lazy(data-src="images/quiz/quiz-11.png", width="160", height="120", alt="")
                          span.quiz__item-txt Вертикальное озеленение
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="vertical-garden" name="quiz-extra" type="checkbox")
                          .quiz__img-wrapper
                            img.swiper-lazy(data-src="images/quiz/quiz-12.png", width="160", height="120", alt="")
                          span.quiz__item-txt Вертикальный сад
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="phytowall" name="quiz-extra" type="checkbox")
                          .quiz__img-wrapper
                            img.swiper-lazy(data-src="images/quiz/quiz-13.png", width="160", height="120", alt="")
                          span.quiz__item-txt Фитостена
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="rare" name="quiz-extra" type="checkbox")
                          .quiz__img-wrapper
                            img.swiper-lazy(data-src="images/quiz/quiz-14.png", width="160", height="120", alt="")
                          span.quiz__item-txt Редкие растения
                      li.form__control
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="palm" name="quiz-extra" type="checkbox")
                          .quiz__img-wrapper
                            img.swiper-lazy(data-src="images/quiz/quiz-15.png", width="160", height="120", alt="")
                          span.quiz__item-txt Пальмы
                  .quiz__item.quiz__item--result.swiper-slide
                    .quiz__item-res
                      p.quiz__item-res-wait Подождите...
                      p.quiz__item-res-txt Рассчитываем сроки и формируем индивидуальную подборку дизайнов по вашим параметрам
                      .quiz__progress-res
                        p
                          |Готово:&nbsp;
                          span(id=`quiz-progress-loading-percent-${quizId}`) 0%
                        progress(id=`quiz-progress-loading-${quizId}` max="5" value="0")
                      ul.quiz__item-res-list
                        li
                          h4.quiz__item-res-title Объект:
                          p.quiz__item-res-answer(id=`quiz-answer-place-${quizId}`)
                        li
                          h4.quiz__item-res-title Площадь:
                          p.quiz__item-res-answer(id=`quiz-answer-square-${quizId}`)
                        li
                          h4.quiz__item-res-title Дизайн-проект:
                          p.quiz__item-res-answer(id=`quiz-answer-design-${quizId}`)
                        li
                          h4.quiz__item-res-title Растения:
                          p.quiz__item-res-answer(id=`quiz-answer-plants-${quizId}`)
                        li
                          h4.quiz__item-res-title Предпочтения:
                          p.quiz__item-res-answer(id=`quiz-answer-extra-${quizId}`)
                  .quiz__item.quiz__item--result.swiper-slide
                    h3.quiz__item-form-title Ваша подборка готова!
                    p.quiz__item-form-txt Куда прислать каталог?
                    .form__group
                      .form__control
                        span.form__error
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="whatsapp" name="form-catalog-messenger" type="radio" data-form-messenger checked)
                          span.form__checkbox-styled
                          span.form__checkbox-txt.form__checkbox-txt--dark WhatsApp
                      .form__control
                        span.form__error
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="telegram" name="form-catalog-messenger" type="radio" data-form-messenger)
                          span.form__checkbox-styled
                          span.form__checkbox-txt.form__checkbox-txt--dark Telegram
                      .form__control
                        span.form__error
                        label.form__checkbox-wrapper
                          input.form__checkbox(value="e-mail" name="form-catalog-messenger" type="radio" data-form-messenger)
                          span.form__checkbox-styled
                          span.form__checkbox-txt.form__checkbox-txt--dark E-mail
                    .form__group
                      .form__control
                        span.form__error
                        +icon('form__control-icon', 'call')
                        input.form__input(name="form-catalog-phone" type="tel" placeholder="Номер телефона" data-form-phone)
                      .form__control
                        span.form__error
                        +icon('form__control-icon', 'message')
                        input.form__input(name="form-catalog-email" type="email" placeholder="Почта" data-form-email)
                    +submitButton('Получить подборку дизайнов')
                    .form__control
                      span.form__error
                      label.form__checkbox-wrapper
                        input.form__checkbox(name="form-catalog-confident" type="checkbox" checked data-form-agreement)
                        span.form__checkbox-styled
                        span.form__checkbox-txt
                          |Согласен с&nbsp;
                          button(type="button") Политикой конфиденциальности сайта
            .quiz__controls
              button(id= `swiper-button-prev-${quizId}`).quiz__button-prev Вернуться назад
              +button(`swiper-button-next-${quizId}`, 'Далее', 'arrow-right')
